body {
    background-color: #000;
    color: #ffd700; /* Dorado */
    font-family: 'Roboto', sans-serif; /* Cambiar a la fuente Roboto */
    padding: 10px;
    transition: background-color 0.3s; /* Agregar animación */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px; /* Bordes redondeados */
    background: linear-gradient(135deg, rgba(0, 255, 0, 0.5), rgba(57, 61, 58, 0.8)); /* Fondo verde con degradado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra suave */
    transition: box-shadow 0.3s; /* Agregar animación */
}

.container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra más fuerte al pasar el mouse */
}

/* Título principal
----------------------------------------------------------------------------------------------------------------------------------*/
#main-title {
    text-align: center; /* Centrar el título */
    font-size: 36px; /* Aumentar tamaño de fuente */
    font-weight: bold; /* Negrita */
    margin-bottom: 20px; /* Agregar espacio entre el título y el contenido */
}

/* Encabezados
----------------------------------------------------------------------------------------------------------------------------------*/
h1, h2 {
    text-align: center;
    font-weight: bold; /* Negrita */
    margin-bottom: 10px; /* Agregar espacio entre los encabezados y el contenido */
}

/* Botones
----------------------------------------------------------------------------------------------------------------------------------*/
button {
    background-color: rgb(23, 207, 23); /* Verde */
    color: #000000; /* negro */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Agregar animación */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

button:hover {
    background-color: #777; /* Verde oscuro al pasar el mouse */
    color: #fff; /* Blanco al pasar el mouse */
    transform: scale(1.05); /* Agrandar ligeramente al pasar el mouse */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra más fuerte al pasar el mouse */
}

button:active {
    transform: scale(0.95); /* Reducir ligeramente al presionar el botón */
}

/* Entradas de número
----------------------------------------------------------------------------------------------------------------------------------*/
input[type="number"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ffd700; /* Dorado */
    background-color: rgba(255, 255, 255, 0.5); /* Blanco con transparencia */
    transition: border-color 0.3s; /* Agregar animación */
}

input[type="number"]:focus {
    outline: none;
    border-color: #fff; /* Blanco al enfocar */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra suave al enfocar */
}

/* Balance
----------------------------------------------------------------------------------------------------------------------------------*/
#balance {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; /* Aumentar tamaño de fuente */
    font-weight: bold; /* Negrita */
}

/* Transacciones
----------------------------------------------------------------------------------------------------------------------------------*/
#transactions {
    margin-top: 20px;
}

#transaction-list, #all-transactions {
    list-style-type: none;
    padding: 0;
}

#view-all-transactions, #hide-transactions {
    display: block;
    margin: 10px auto;
}

#delete-all-transactions {
    margin-top: 20px;
    text-align: center;
}

/* Botones de presupuesto y meta
----------------------------------------------------------------------------------------------------------------------------------*/
#update-budget, #update-goal {
    margin-bottom: 10px; /* Agregar espacio entre los botones */
}

/* Media queries
----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 768px) {
   .container {
        max-width: 90%;
    }

    h1, h2 {
        font-size: 24px; /* Reducir tamaño de fuente en dispositivos móviles */
    }
}
